<section class="section_productDetail">
    <div class="productDetail_container">
        <h1>{{product.title}}</h1>
        <span>Categoria: {{product.category}}</span>
        <p>Descripción: {{product.description}}</p>
        <span>Precio: ${{product.price}}</span>
        <button class="addToCartBtn" type="button" id={{product._id}}>Comprar</button>
    </div>
</section>