<section class="section_products">
    <h1>Listado de productos</h1>
    <ul>
        {{#each products }}
        <div class="product_container">
            <li> {{this.title}} </li>
            <button class="button_detail" type="button"><a href="http://localhost:8080/products/{{this._id}}">Comprar</a></button>
        </div>
        {{/each}}
    </ul>
    <div class="prev-netxPage_buttons">
        {{#unless hasPrevPage}}
        <span class="prev_page_notEnabled">Atr치s</span>
        {{/unless}}
        {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}">Atr치s</a>
        {{/if}}
        <p>Page {{currentPage}} de {{totalPages}}</p>
        {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}">Pr칩ximos</a>
        {{/if}}
        {{#unless hasNextPage}}
        <span class="prev_page_notEnabled">Pr칩ximos</span>
        {{/unless}}
    </div>
</section>